<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
 *	PDP-8/E Simulator
 *
 *	Copyright © 1994-2014 Bernhard Baehr
 *
 *	assembler.plist - Symbol table for the inline assembler
 *
 *	This file is part of PDP-8/E Simulator.
 *
 *	PDP-8/E Simulator is free software: you can redistribute it and/or modify
 *	it under the terms of the GNU General Public License as published by
 *	the Free Software Foundation, either version 3 of the License, or
 *	(at your option) any later version.
 *
 *	This program is distributed in the hope that it will be useful,
 *	but WITHOUT ANY WARRANTY; without even the implied warranty of
 *	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *	GNU General Public License for more details.
 *
 *	You should have received a copy of the GNU General Public License
 *	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<dict>
	<key>ACS</key>
	<array>
		<string>07403</string>
		<string>isOPR3b</string>
	</array>
	<key>ADCL</key>
	<array>
		<string>06530</string>
		<string>isIOT</string>
	</array>
	<key>ADLE</key>
	<array>
		<string>06536</string>
		<string>isIOT</string>
	</array>
	<key>ADLM</key>
	<array>
		<string>06531</string>
		<string>isIOT</string>
	</array>
	<key>ADRB</key>
	<array>
		<string>06533</string>
		<string>isIOT</string>
	</array>
	<key>ADRS</key>
	<array>
		<string>06537</string>
		<string>isIOT</string>
	</array>
	<key>ADSE</key>
	<array>
		<string>06535</string>
		<string>isIOT</string>
	</array>
	<key>ADSK</key>
	<array>
		<string>06534</string>
		<string>isIOT</string>
	</array>
	<key>ADST</key>
	<array>
		<string>06532</string>
		<string>isIOT</string>
	</array>
	<key>AND</key>
	<array>
		<string>00000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>ASR</key>
	<array>
		<string>07415</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>BSW</key>
	<array>
		<string>07002</string>
		<string>isOPR1</string>
	</array>
	<key>CAF</key>
	<array>
		<string>06007</string>
		<string>isIOT</string>
	</array>
	<key>CAM</key>
	<array>
		<string>07621</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>CCAR</key>
	<array>
		<string>06704</string>
		<string>isIOT</string>
	</array>
	<key>CDF</key>
	<array>
		<string>06201</string>
		<string>isIOT</string>
		<string>needsOperand</string>
	</array>
	<key>CDI</key>
	<array>
		<string>06203</string>
		<string>isIOT</string>
		<string>needsOperand</string>
	</array>
	<key>CEP</key>
	<array>
		<string>06106</string>
		<string>isIOT</string>
	</array>
	<key>CIA</key>
	<array>
		<string>07041</string>
		<string>isOPR1</string>
	</array>
	<key>CIF</key>
	<array>
		<string>06202</string>
		<string>isIOT</string>
		<string>needsOperand</string>
	</array>
	<key>CINT</key>
	<array>
		<string>06204</string>
		<string>isIOT</string>
	</array>
	<key>CLA</key>
	<array>
		<string>07200</string>
		<string>isOPR1</string>
		<string>isOPR2</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>CLCF</key>
	<array>
		<string>06136</string>
		<string>isIOT</string>
	</array>
	<key>CLDI</key>
	<array>
		<string>06132</string>
		<string>isIOT</string>
	</array>
	<key>CLEI</key>
	<array>
		<string>06131</string>
		<string>isIOT</string>
	</array>
	<key>CLF</key>
	<array>
		<string>06725</string>
		<string>isIOT</string>
	</array>
	<key>CLIE</key>
	<array>
		<string>06135</string>
		<string>isIOT</string>
	</array>
	<key>CLL</key>
	<array>
		<string>07100</string>
		<string>isOPR1</string>
	</array>
	<key>CLT</key>
	<array>
		<string>06712</string>
		<string>isIOT</string>
	</array>
	<key>CMA</key>
	<array>
		<string>07040</string>
		<string>isOPR1</string>
	</array>
	<key>CML</key>
	<array>
		<string>07020</string>
		<string>isOPR1</string>
	</array>
	<key>CMP</key>
	<array>
		<string>06104</string>
		<string>isIOT</string>
	</array>
	<key>CUF</key>
	<array>
		<string>06264</string>
		<string>isIOT</string>
	</array>
	<key>CWCR</key>
	<array>
		<string>06702</string>
		<string>isIOT</string>
	</array>
	<key>DAD</key>
	<array>
		<string>07443</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>DCA</key>
	<array>
		<string>03000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>DCLR</key>
	<array>
		<string>06742</string>
		<string>isIOT</string>
	</array>
	<key>DCM</key>
	<array>
		<string>07575</string>
		<string>isOPR3b</string>
	</array>
	<key>DDZ</key>
	<array>
		<string>07665</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>DLAG</key>
	<array>
		<string>06743</string>
		<string>isIOT</string>
	</array>
	<key>DLCA</key>
	<array>
		<string>06744</string>
		<string>isIOT</string>
	</array>
	<key>DLD</key>
	<array>
		<string>07663</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>DLDC</key>
	<array>
		<string>06746</string>
		<string>isIOT</string>
	</array>
	<key>DMAN</key>
	<array>
		<string>06747</string>
		<string>isIOT</string>
	</array>
	<key>DPBELL</key>
	<array>
		<string>06057</string>
		<string>isIOT</string>
	</array>
	<key>DPCL</key>
	<array>
		<string>06056</string>
		<string>isIOT</string>
	</array>
	<key>DPGO</key>
	<array>
		<string>06051</string>
		<string>isIOT</string>
	</array>
	<key>DPI</key>
	<array>
		<string>06100</string>
		<string>isIOT</string>
	</array>
	<key>DPIC</key>
	<array>
		<string>07573</string>
		<string>isOPR3b</string>
	</array>
	<key>DPLA</key>
	<array>
		<string>06050</string>
		<string>isIOT</string>
	</array>
	<key>DPMB</key>
	<array>
		<string>06053</string>
		<string>isIOT</string>
	</array>
	<key>DPMD</key>
	<array>
		<string>06054</string>
		<string>isIOT</string>
	</array>
	<key>DPSM</key>
	<array>
		<string>06052</string>
		<string>isIOT</string>
	</array>
	<key>DPSZ</key>
	<array>
		<string>07451</string>
		<string>isOPR3b</string>
	</array>
	<key>DRST</key>
	<array>
		<string>06745</string>
		<string>isIOT</string>
	</array>
	<key>DSKP</key>
	<array>
		<string>06741</string>
		<string>isIOT</string>
	</array>
	<key>DST</key>
	<array>
		<string>07445</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>DTCA</key>
	<array>
		<string>06762</string>
		<string>isIOT</string>
	</array>
	<key>DTLA</key>
	<array>
		<string>06766</string>
		<string>isIOT</string>
	</array>
	<key>DTLB</key>
	<array>
		<string>06774</string>
		<string>isIOT</string>
	</array>
	<key>DTRA</key>
	<array>
		<string>06761</string>
		<string>isIOT</string>
	</array>
	<key>DTRB</key>
	<array>
		<string>06772</string>
		<string>isIOT</string>
	</array>
	<key>DTSF</key>
	<array>
		<string>06771</string>
		<string>isIOT</string>
	</array>
	<key>DTXA</key>
	<array>
		<string>06764</string>
		<string>isIOT</string>
	</array>
	<key>DVI</key>
	<array>
		<string>07407</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>EPI</key>
	<array>
		<string>06103</string>
		<string>isIOT</string>
	</array>
	<key>FPCOM</key>
	<array>
		<string>06553</string>
		<string>isIOT</string>
	</array>
	<key>FPEP</key>
	<array>
		<string>06567</string>
		<string>isIOT</string>
	</array>
	<key>FPHLT</key>
	<array>
		<string>06554</string>
		<string>isIOT</string>
	</array>
	<key>FPICL</key>
	<array>
		<string>06552</string>
		<string>isIOT</string>
	</array>
	<key>FPINT</key>
	<array>
		<string>06551</string>
		<string>isIOT</string>
	</array>
	<key>FPIST</key>
	<array>
		<string>06557</string>
		<string>isIOT</string>
	</array>
	<key>FPRST</key>
	<array>
		<string>06556</string>
		<string>isIOT</string>
	</array>
	<key>FPST</key>
	<array>
		<string>06555</string>
		<string>isIOT</string>
	</array>
	<key>GLK</key>
	<array>
		<string>07204</string>
		<string>isOPR1</string>
	</array>
	<key>GTF</key>
	<array>
		<string>06004</string>
		<string>isIOT</string>
	</array>
	<key>HLT</key>
	<array>
		<string>07402</string>
		<string>isOPR2</string>
	</array>
	<key>I</key>
	<array>
		<string>00400</string>
		<string>isIndirect</string>
	</array>
	<key>IAC</key>
	<array>
		<string>07001</string>
		<string>isOPR1</string>
	</array>
	<key>IOF</key>
	<array>
		<string>06002</string>
		<string>isIOT</string>
	</array>
	<key>ION</key>
	<array>
		<string>06001</string>
		<string>isIOT</string>
	</array>
	<key>ISZ</key>
	<array>
		<string>02000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>JMP</key>
	<array>
		<string>05000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>JMS</key>
	<array>
		<string>04000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>KCC</key>
	<array>
		<string>06032</string>
		<string>isIOT</string>
	</array>
	<key>KCF</key>
	<array>
		<string>06030</string>
		<string>isIOT</string>
	</array>
	<key>KIE</key>
	<array>
		<string>06035</string>
		<string>isIOT</string>
	</array>
	<key>KRB</key>
	<array>
		<string>06036</string>
		<string>isIOT</string>
	</array>
	<key>KRS</key>
	<array>
		<string>06034</string>
		<string>isIOT</string>
	</array>
	<key>KSF</key>
	<array>
		<string>06031</string>
		<string>isIOT</string>
	</array>
	<key>LAS</key>
	<array>
		<string>07604</string>
		<string>isOPR2</string>
	</array>
	<key>LCAR</key>
	<array>
		<string>06703</string>
		<string>isIOT</string>
	</array>
	<key>LCMR</key>
	<array>
		<string>06705</string>
		<string>isIOT</string>
	</array>
	<key>LDBR</key>
	<array>
		<string>06707</string>
		<string>isIOT</string>
	</array>
	<key>LFGR</key>
	<array>
		<string>06706</string>
		<string>isIOT</string>
	</array>
	<key>LSR</key>
	<array>
		<string>07417</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>LWCR</key>
	<array>
		<string>06701</string>
		<string>isIOT</string>
	</array>
	<key>MQA</key>
	<array>
		<string>07501</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>MQL</key>
	<array>
		<string>07421</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>MUY</key>
	<array>
		<string>07405</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>NMI</key>
	<array>
		<string>07411</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>NOP</key>
	<array>
		<string>07000</string>
		<string>isOPR1</string>
		<string>isOPR2</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>OSR</key>
	<array>
		<string>07404</string>
		<string>isOPR2</string>
	</array>
	<key>PCE</key>
	<array>
		<string>06020</string>
		<string>isIOT</string>
	</array>
	<key>PCF</key>
	<array>
		<string>06022</string>
		<string>isIOT</string>
	</array>
	<key>PCIE</key>
	<array>
		<string>06667</string>
		<string>isIOT</string>
	</array>
	<key>PCLF</key>
	<array>
		<string>06662</string>
		<string>isIOT</string>
	</array>
	<key>PLCE</key>
	<array>
		<string>06650</string>
		<string>isIOT</string>
	</array>
	<key>PLCF</key>
	<array>
		<string>06652</string>
		<string>isIOT</string>
	</array>
	<key>PLLR</key>
	<array>
		<string>06654</string>
		<string>isIOT</string>
	</array>
	<key>PLPD</key>
	<array>
		<string>06655</string>
		<string>isIOT</string>
	</array>
	<key>PLPU</key>
	<array>
		<string>06653</string>
		<string>isIOT</string>
	</array>
	<key>PLS</key>
	<array>
		<string>06026</string>
		<string>isIOT</string>
	</array>
	<key>PLSE</key>
	<array>
		<string>06657</string>
		<string>isIOT</string>
	</array>
	<key>PLSF</key>
	<array>
		<string>06651</string>
		<string>isIOT</string>
	</array>
	<key>PPC</key>
	<array>
		<string>06024</string>
		<string>isIOT</string>
	</array>
	<key>PSF</key>
	<array>
		<string>06021</string>
		<string>isIOT</string>
	</array>
	<key>PSIE</key>
	<array>
		<string>06665</string>
		<string>isIOT</string>
	</array>
	<key>PSKE</key>
	<array>
		<string>06663</string>
		<string>isIOT</string>
	</array>
	<key>PSKF</key>
	<array>
		<string>06661</string>
		<string>isIOT</string>
	</array>
	<key>PSTB</key>
	<array>
		<string>06664</string>
		<string>isIOT</string>
	</array>
	<key>RAL</key>
	<array>
		<string>07004</string>
		<string>isOPR1</string>
	</array>
	<key>RAR</key>
	<array>
		<string>07010</string>
		<string>isOPR1</string>
	</array>
	<key>RCAR</key>
	<array>
		<string>06713</string>
		<string>isIOT</string>
	</array>
	<key>RCC</key>
	<array>
		<string>06016</string>
		<string>isIOT</string>
	</array>
	<key>RCMR</key>
	<array>
		<string>06715</string>
		<string>isIOT</string>
	</array>
	<key>RCNI</key>
	<array>
		<string>06637</string>
		<string>isIOT</string>
	</array>
	<key>RCNO</key>
	<array>
		<string>06635</string>
		<string>isIOT</string>
	</array>
	<key>RCRA</key>
	<array>
		<string>06632</string>
		<string>isIOT</string>
	</array>
	<key>RCRB</key>
	<array>
		<string>06634</string>
		<string>isIOT</string>
	</array>
	<key>RCRC</key>
	<array>
		<string>06636</string>
		<string>isIOT</string>
	</array>
	<key>RCRD</key>
	<array>
		<string>06674</string>
		<string>isIOT</string>
	</array>
	<key>RCSD</key>
	<array>
		<string>06671</string>
		<string>isIOT</string>
	</array>
	<key>RCSE</key>
	<array>
		<string>06672</string>
		<string>isIOT</string>
	</array>
	<key>RCSF</key>
	<array>
		<string>06631</string>
		<string>isIOT</string>
	</array>
	<key>RCSI</key>
	<array>
		<string>06675</string>
		<string>isIOT</string>
	</array>
	<key>RCTF</key>
	<array>
		<string>06676</string>
		<string>isIOT</string>
	</array>
	<key>RDBR</key>
	<array>
		<string>06717</string>
		<string>isIOT</string>
	</array>
	<key>RDF</key>
	<array>
		<string>06214</string>
		<string>isIOT</string>
	</array>
	<key>RFC</key>
	<array>
		<string>06014</string>
		<string>isIOT</string>
	</array>
	<key>RFSR</key>
	<array>
		<string>06716</string>
		<string>isIOT</string>
	</array>
	<key>RIB</key>
	<array>
		<string>06234</string>
		<string>isIOT</string>
	</array>
	<key>RIF</key>
	<array>
		<string>06224</string>
		<string>isIOT</string>
	</array>
	<key>RMF</key>
	<array>
		<string>06244</string>
		<string>isIOT</string>
	</array>
	<key>RMSR</key>
	<array>
		<string>06714</string>
		<string>isIOT</string>
	</array>
	<key>RPE</key>
	<array>
		<string>06010</string>
		<string>isIOT</string>
	</array>
	<key>RRB</key>
	<array>
		<string>06012</string>
		<string>isIOT</string>
	</array>
	<key>RSF</key>
	<array>
		<string>06011</string>
		<string>isIOT</string>
	</array>
	<key>RTF</key>
	<array>
		<string>06005</string>
		<string>isIOT</string>
	</array>
	<key>RTL</key>
	<array>
		<string>07006</string>
		<string>isOPR1</string>
	</array>
	<key>RTR</key>
	<array>
		<string>07012</string>
		<string>isOPR1</string>
	</array>
	<key>RWCR</key>
	<array>
		<string>06711</string>
		<string>isIOT</string>
	</array>
	<key>SAM</key>
	<array>
		<string>07457</string>
		<string>isOPR3b</string>
	</array>
	<key>SCA</key>
	<array>
		<string>07441</string>
		<string>isOPR3b</string>
	</array>
	<key>SCL</key>
	<array>
		<string>07403</string>
		<string>isOPR3a</string>
		<string>needsOperand</string>
	</array>
	<key>SGT</key>
	<array>
		<string>06006</string>
		<string>isIOT</string>
	</array>
	<key>SHL</key>
	<array>
		<string>07413</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
		<string>needsOperand</string>
	</array>
	<key>SINT</key>
	<array>
		<string>06254</string>
		<string>isIOT</string>
	</array>
	<key>SKCB</key>
	<array>
		<string>06722</string>
		<string>isIOT</string>
	</array>
	<key>SKEF</key>
	<array>
		<string>06721</string>
		<string>isIOT</string>
	</array>
	<key>SKJD</key>
	<array>
		<string>06723</string>
		<string>isIOT</string>
	</array>
	<key>SKON</key>
	<array>
		<string>06000</string>
		<string>isIOT</string>
	</array>
	<key>SKP</key>
	<array>
		<string>07410</string>
		<string>isOPR2</string>
	</array>
	<key>SKTR</key>
	<array>
		<string>06724</string>
		<string>isIOT</string>
	</array>
	<key>SMA</key>
	<array>
		<string>07500</string>
		<string>isOPR2</string>
	</array>
	<key>SMP</key>
	<array>
		<string>06101</string>
		<string>isIOT</string>
	</array>
	<key>SMPCMP</key>
	<array>
		<string>06105</string>
		<string>isIOT</string>
	</array>
	<key>SNA</key>
	<array>
		<string>07450</string>
		<string>isOPR2</string>
	</array>
	<key>SNL</key>
	<array>
		<string>07420</string>
		<string>isOPR2</string>
	</array>
	<key>SPA</key>
	<array>
		<string>07510</string>
		<string>isOPR2</string>
	</array>
	<key>SPL</key>
	<array>
		<string>06102</string>
		<string>isIOT</string>
	</array>
	<key>SPO</key>
	<array>
		<string>06107</string>
		<string>isIOT</string>
	</array>
	<key>SRQ</key>
	<array>
		<string>06003</string>
		<string>isIOT</string>
	</array>
	<key>STA</key>
	<array>
		<string>07240</string>
		<string>isOPR1</string>
	</array>
	<key>STL</key>
	<array>
		<string>07120</string>
		<string>isOPR1</string>
	</array>
	<key>SUF</key>
	<array>
		<string>06274</string>
		<string>isIOT</string>
	</array>
	<key>SWAB</key>
	<array>
		<string>07431</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>SWBA</key>
	<array>
		<string>07447</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>SWP</key>
	<array>
		<string>07521</string>
		<string>isOPR3a</string>
		<string>isOPR3b</string>
	</array>
	<key>SZA</key>
	<array>
		<string>07440</string>
		<string>isOPR2</string>
	</array>
	<key>SZL</key>
	<array>
		<string>07430</string>
		<string>isOPR2</string>
	</array>
	<key>TAD</key>
	<array>
		<string>01000</string>
		<string>isMRI</string>
		<string>needsOperand</string>
	</array>
	<key>TCF</key>
	<array>
		<string>06042</string>
		<string>isIOT</string>
	</array>
	<key>TFL</key>
	<array>
		<string>06040</string>
		<string>isIOT</string>
	</array>
	<key>TLS</key>
	<array>
		<string>06046</string>
		<string>isIOT</string>
	</array>
	<key>TPC</key>
	<array>
		<string>06044</string>
		<string>isIOT</string>
	</array>
	<key>TSF</key>
	<array>
		<string>06041</string>
		<string>isIOT</string>
	</array>
	<key>TSK</key>
	<array>
		<string>06045</string>
		<string>isIOT</string>
	</array>
</dict>
</plist>
