<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASR33.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ASR33Preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CPUPreferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GeneralPreferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KC8EA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Plugin.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RK8E.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TSC8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>210915E809715375001F160B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>210F34680BC79DC000482109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2126BDFE09817C6D008BB678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2128EA38109786FD00CA858C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2181CE25109EDC480026FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A682FE0D685C73000D5B59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC383D0BD5402D00A37D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC38940BD5693600A37D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21E8F9850D7338BF00634911</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
